* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(221, 221, 221);
    font-family: 'Arial', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px black;
    width: 100%;
    height: 50px;
    background-color: black;
    padding: 0px 20px;
}

.logo {
    color:white;
    text-transform: lowercase;
    letter-spacing: -3px;
}

.logo span:first-child{
    color: #1d52ff;
}

.logo span:last-child{
    font-size: 12px;
    letter-spacing: normal;
}


h1 {
    color: white;
}

.menu {
    display: flex;
}

.menu li {
    position: relative;
}

.menu  li{
    list-style: none;
}

.menu  li a{
    padding: 17px;
    color:white;
    text-decoration: none;
    font-size: 14px;
    display: block;
}

.menu  li:hover{
    background: #1d52ff;
}

.menu  li:hover > .submenu, 
.submenu  li:hover > .submenu{
    display: block;
}




.submenu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    background: #3276fb;
    min-width: 110%;
}

.submenu li:hover{
    background: #174fbe;
}

.submenu li{
    position: relative;
}

.submenu li .submenu{
    top: 0;
    left: 100%;
}
